* {
    font-family: 'Crimson Pro', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.nav-title {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.1rem;
    font-weight: 700;
}

/* banner style */

.banner-containt {
    width: 800px;
    margin: 70px auto;
    text-align: center;
}


img.banner-img {
    width: 100%;
    height: 100%;
}

.banner-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-pragrap {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
}

.btn-praymary {
    padding: 20px 25px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    cursor: pointer;
}

.feature-continar {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    padding: 100px;
}

.Feature-img-containg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.Feature-img-containg>img {
    width: 220px;
    height: 220px;
}

.feature-discription {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.black {
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.orange {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.feature-heading {
    color: #727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.feature-contant {
    margin: 60px 0px 0px 100px;
    width: 500px;
}

.some-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    padding-top: 30px;
}

.some-discription {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 450px;
    padding-top: 30px;
}

.some-main {
    width: 1000px;
    margin: 0px auto;
}

.icon-main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 70px;
}

.icon-basic {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 25px 10px 40px 10px;
}

.icon-basic,
img {
    margin-bottom: 10px;
}

.icon-number,
.icon-name {
    margin-bottom: 10px;
}


/* footer section */
footer {
    width: 900px;
    margin: 0px auto;
}

.our-text {
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.prmoting-discription {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 60px;

}

.proting-text-containt {
    text-align: center;
}

.prmoting-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    margin-bottom: 60px;
}

.prmoting-img>a>img {
    width: 100px;
    cursor: pointer;
}

.foot {
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
}

.prmoting-discription-1 {
    padding: 40px;
}

/* footer section */

.exprence-main {
    width: 1050px;
    margin: 50px auto;
    display: flex;
    gap: 50px;
}

.exprence-cotain>.card-continar {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    /* padding: 20px; */
}

.card-continar {
    width: 500px;
    padding: 25px;
}

.card-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

.card-discription {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.exprence-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}

.praymari {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.ten-years-exprence {
    background-color: #FF900E;
    width: 258px;
    border-radius: 8px;
    padding: 45px 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-exprence>h3 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 60px;
    font-weight: 700;
}

.ten-years-exprence>p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}

.exprence-img-continar>img {
    margin-top: 80px;
    width: 450px;
    margin-left: 40px;
    /* height: 982px; */
}

/* Response mobile device */



@media screen and (max-width:576px) {

    header {
        padding: 20px;
    }

    .banner-containt {
        width: 100%;
        padding: 10px;
        margin: 46px auto;
    }

    nav {
        flex-direction: column;
    }

    nav,
    .nav-title {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }

    .Feature-img-containg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-continar {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0px;
        margin: 20px 0px 0px 20px;
        /* margin: 0px auto; */
    }

    .feature-contant {
        padding: 20px;
        margin: 0px;
        width: 350px;
        text-align: center;
        margin-bottom: 20px;
    }

    .Feature-img-containg>img {
        width: 90%;
        height: 90%;
    }

}



/* response mobile device */

/* response tap divice */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
        width: 117%;
    }

    nav {
        flex-direction: column-reverse;
        text-align: center;
    }

    nav ul {
        justify-content: center;
        margin: 30px 0px 40px 0px;
    }

    .feature-continar {
        width: 835px;
    }
}


/* response tap divice */