* {
    font-family: 'Crimson Pro', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}